body {
	font-family: Calibri, Helvetica, sans-serif;
	color: #000000;
}

h1 {
	margin-top: 35px;
}

p {
	background-color: #928f8f;
	padding: 15px;
	padding-top: 0px;
	margin: 0px;
	text-align: justify;
}

.row{
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}

.item a{
	text-align: center;
	font-size: 1.3em;
	color: #000000;
	padding: 0px;
	margin: 0px;
}

.navbar-default{
	background-color: #A0A0A0;
}

.navbar-default .navbar-brand{
	color: #000000;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #505050;
}

.navbar-default .navbar-nav>li>a{
	background-color: #BBBBBB;
	color: black;
	border-bottom: 1px solid white;
}

.navbar-default .navbar-nav>li>a:hover {
  background: #F1F1F1;
  color: #000000;
}

.subtitle{
	text-align: center;
	font-size: 1.6em;
	width: 100%;

}

@media (max-width: 479px) {
  .row {
    margin-right: 7px;
	margin-left: 7px;
  }
  
}